In [68]:
input=""""""

In [173]:
file1 = open('4.txt', 'r')
Lines = file1.readlines()

In [174]:
calls = [int(x) for x in Lines[0].split('\n')[0].split(',')]
# print(calls)
boards = []
board = None
for line in Lines[1:]:
    if line == '\n':
        boards.append(board)
        board = []
    else:
        # print(line.replace('\n','').replace('  ',' ').split(' '))
        board.append([int(x) for x in line.replace('\n','').replace('  ',' ').strip().split(' ')])
boards.append(board)
boards = [x for x in boards if x is not None]
boards[0:3]
marks = []
for i in boards:
    marks.append([[0 for y in range(5)] for x in range(5)])

# marks[0:3]

In [175]:
def call(boards, marks, number):
    for board_num in range(len(boards)):
        board = boards[board_num]
        mark = marks[board_num]
        for x in range(5):
            for y in range(5):
                if board[x][y] == number:
                    mark[x][y] = 1
    return boards, marks
def check_boards(boards, marks):
    for board_num in range(len(boards)):
        board = boards[board_num]
        mark = marks[board_num]
        for x in range(5):
            if sum([mark[x][y] for y in range(5)]) == 5:
                return board, mark, board_num
            if sum([mark[y][x] for y in range(5)]) == 5:
                return board, mark, board_num
    return None
def get_sum(board,mark):
    sum = 0
    for x in range(5):
        for y in range(5):
            if mark[x][y] == 0:
                sum += board[x][y]
    return sum

In [176]:
# c = calls[0]
# boards, marks = call(boards, marks, c)
for c in calls:
    boards, marks = call(boards, marks, c)
    while check_boards(boards, marks) is not None:
        board, mark, board_num = check_boards(boards, marks)
        # print(len(boards))
        boards.pop(board_num)
        marks.pop(board_num)
        if len(boards) == 0:
            print(board,mark)
            print(c)
            break

[[51, 34, 66, 87, 17], [20, 54, 74, 14, 55], [84, 64, 96, 31, 2], [62, 43, 76, 5, 45], [98, 71, 50, 56, 82]] [[1, 1, 1, 1, 1], [0, 0, 1, 1, 1], [0, 0, 1, 1, 1], [1, 1, 0, 1, 0], [1, 1, 1, 1, 0]]
87

In [177]:
board = [[51, 34, 66, 87, 17], [20, 54, 74, 14, 55], [84, 64, 96, 31, 2], [62, 43, 76, 5, 45], [98, 71, 50, 56, 82]]
mark = [[1, 1, 1, 1, 1], [0, 0, 1, 1, 1], [0, 0, 1, 1, 1], [1, 1, 0, 1, 0], [1, 1, 1, 1, 0]]
c=87

In [178]:
board

[[51, 34, 66, 87, 17],
 [20, 54, 74, 14, 55],
 [84, 64, 96, 31, 2],
 [62, 43, 76, 5, 45],
 [98, 71, 50, 56, 82]]

In [179]:
mark

[[1, 1, 1, 1, 1],
 [0, 0, 1, 1, 1],
 [0, 0, 1, 1, 1],
 [1, 1, 0, 1, 0],
 [1, 1, 1, 1, 0]]

In [180]:
# board, mark = check_boards(boards, marks)
get_sum(board, mark)

425

In [181]:
c*get_sum(board, mark)

36975

In [37]:
count = 0
arr = [0 for x in range(5)]
for line in input.split('\n'):
    for p in range(len(line)):
        arr[p] += int(line[p])
    count += 1
# print(count)
# print(arr)
print("".join([str(round(x/count)) for x in arr]))
print("".join([str(abs(1-round(x/count))) for x in arr]))

10110
01001

In [76]:
import pandas as pd

In [86]:
df = pd.DataFrame([[int(c) for c in line] for line in input.split('\n')])

In [87]:
df.head()

   0   1   2   3   4   5   6   7   8   9   10  11
0   0   1   1   1   1   1   1   1   1   1   0   1
1   0   1   1   0   0   0   0   1   0   1   1   1
2   0   0   0   0   0   0   0   0   0   1   0   1
3   0   0   0   1   1   1   1   0   0   0   0   1
4   0   1   1   0   1   1   0   1   0   0   0   0

In [89]:
df.mean()

0     0.492
1     0.511
2     0.507
3     0.521
4     0.488
5     0.502
6     0.510
7     0.528
8     0.512
9     0.509
10    0.492
11    0.488
dtype: float64